* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poor Story', cursive;
  font-size: 16px;
  background-position: center;
  background-image: url("background.jpg");
  height: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

#first {
  margin-bottom: 20px;
}

#userinput {
  font-size: 18px;
  padding: 7px;
}

#enter {
  font-size: 18px;
  margin-left: 5px;
}

/* button {
  padding: 3px 10px 3px 10px;
} */

.container {
  width: 100%;
  flex-wrap: nowrap;
  background-color: rgba(255, 250, 246, 0.708);
  padding: 20px;
  margin: auto;
}

.done {
  text-decoration: line-through;
}

.delete {
  display: none;
}

ul {
  list-style: none;
}

ul li {
  margin: 10px 40px 10px 0px;
  background-color: #f4f4f4;
  padding: 10px 10px 20px 10px;
  font-size: 20px;
}

ul li:hover {
  outline: 1px solid #ceb8a4;
}


li button {
  margin-left: 10px;
  background-color: #54483D;
  border-radius: 5px;
  color: white;
  padding: 3px 8px 3px 8px;
  font-size: 20px;
  position: absolute;
  right: 0px;
}

li button:hover {
  background-color: #ce0e00;
}